.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-signin-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .alert {
  padding: 3px 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-register input[name="username"] {
  margin-bottom: -1px;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.form-register input[name="confirm_password"] {
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.form-register div.form-group[for="confirm_password"]{
  margin-bottom: 0.6rem;
}
