/*home style*/
html,body{
  width:100%;
  min-height: 100%;
}
sidebar{
  width:25%;
  min-height: 100%;
  left:0;
  top:0;
  background:#cde9ff;
  overflow: hidden;
  position:fixed;
  word-break: break-word;
}
topbar{
  width:75%;
  height:3rem;
  background:#cde9ff;
  right:0;
  top:0;
  overflow: hidden;
  position:fixed;
  word-break: break-word;
}
.view-content{
  width:75%;
  background:blue;
  right:0;
  top:3rem;
  min-height: 100%;
  overflow: hidden;
  position:fixed;
}
